@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

// main {
//   height: 100vh;
//   width: 100%;
//   overflow: hidden;
//   position: relative;
//   display: flex;
//   flex-direction: column;
// }

/*### ANIMATIONS ###*/

.searchbar {
  transition: all 0.5s;
}

.searchbar.searchbar-active {
  right: 0;
  width: 100%;
  animation-direction: reverse;
}
